@page
@model IndexModel
@{
    ViewData["Title"] = "Dental Manager";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Dental Manager</h1>
        <h2></h2>
        <p>
            If you like to use this application functionality you should 
        </p>
        <p>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/account/login">Login</a> or 
            <a class="btn btn-info" asp-area="Identity" asp-page="/account/register">Register</a>
        </p>
    </div>
</div>
