@page "{id:int}"
@model DentalManager.Web.Pages.Patients.DetailsModel
@{
    ViewData["Title"] = "Patient Details";
}

<h2>@Model.PatientDetails.Name</h2>

<ul>
    @foreach (var item in Model.PatientDetails.Arrangments)
    {
        <li>
            <p>@item.DateTime</p>
            <p>@item.Notice</p>
        </li>
    }
</ul>


