@page
@model DentalManager.Web.Pages.Patients.IndexModel
@{
    ViewData["Title"] = "All Patients";
}

<h2>@ViewData["Title"]</h2>

<a asp-page="/Patients/Add" class="btn btn-primary">Add Patient</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var patient in this.Model.AllPatiens)
    {
        <tr>
            <td>@patient.Name</td>
            <td>@patient.Email</td>
            <td>@patient.PhoneNumber</td>
            <td>
                <a href="/patients/edit/@patient.Id" class="btn btn-default">Edit</a>
                <a href="/patients/details/@patient.Id" class="btn btn-warning">Details</a>
            </td>
        </tr>
    }
</table>



